h1 My page
p name: #{@profile[:name]}
p email: #{@profile[:email]}
p user id: #{@profile[:user_id]}

br
br
br

= image_tag asset_path('item.png')
p 伝説の剣　￥10,000

button onclick="location.href='#{amazon_pay_buy_path}'"
  | Buy


