
h1 log in with Amazon Payments

div id="AmazonLoginButton"
javascript:
  var authRequest;
  OffAmazonPayments.Button("AmazonLoginButton", "#{ENV['SELLER_ID']}", {
    type: "LwA",
    color: "Gold",
    width: 100,
    height: 50,
    authorization: function () {
      loginOptions = {scope: "profile postal_code", popup: true};
      authRequest = amazon.Login.authorize(loginOptions, "#{ENV['CALLBACK_URL']}/index");
    },
    onError: function (error) {
      // something bad happened
    }
  });

button onclick="location.href='#{index_path}'"
  | dummy login

p Log in with amazon button is not working because of stub. so please jump with dummy login button
